version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: product_postgres
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5454:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: